<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XXX-SECTION-TITLE | The Colloquium</title>
    <!--
    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32.png">
    -->
    <link rel="stylesheet" href="/styles/main.css?v=32D7E31F">
</head>

<body>
    <div class="page interior-page">
        <div class="container">

            <header>
                <hr class="rule">

                <p class="interior-masthead">
                    The Colloquium
                </p>

                <hr class="rule bottom">
            </header>

            <main class="interior-content">
                <h1 class="page-title page-title-with-subtitle">
                    XXX-SECTION-TITLE
                </h1>

                <p class="section-subtitle section-subtitle-stacked" title="XXX-Latinized-Text-In-English">
                    XXX-Latinized-Text
                </p>
                <p>
                    Paragraph 1 content
                </p>

                <p>
                    Paragraph 2 content
                </p>

            </main>
            <footer>
                <nav class="footer-nav" aria-label="Footer navigation">
                    <a href="/">Home</a>
                    <span class="footer-separator">·</span>
                    <a href="/about/">About</a>
                    <span class="footer-separator">·</span>
                    <a href="/contact/">Contact</a>
                </nav>
            </footer>
        </div>
    </div>
</body>
</html>